/* CSS for form part of page
Coded by: Christina Chiappini
October 18, 2022 */

#top-section {
    background: #f5f5dc;
    max-width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    min-width: 119.1px;
}

legend {
    background-color: #f5fffa;
    color: #860e0d;
}

.main_fieldset {
    font-family: 'Comic Sans MS';
    display: flex;
    flex-wrap: wrap;
}

.fieldset_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dotted green;
    margin: 0;
}

.fieldset_content tr {
    background-color: #f5f5f5;
    width: 100%;
}

.input_label {
    border: 1px dotted rgb(189, 83, 101);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}

.buttons > button {
    width: 150px;
    padding: 10px;
    font-weight: bolder;
    background-color: #0561ae;
    color: white;
    border-color: white;
}

textarea {
    width: 96%;
    overflow-y: visible;
    resize: none;
}

#error_message {
    font-size: smaller;
    background-color: #860e0d;
    color: white;
    text-align: center;
}