/*CSS for whole page
Coded by: Adriano D'Alonzo
October 18, 2022 */

#main-container {
    max-width: 80%;
    background-color: #ecedf2;
    border: 1px solid black;
    padding: 1em;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Palatino Linotype', serif;
}

header p {
    text-align: center;
    background-color: #600060;
    color: white;
    padding: 2em;
}

footer {
    text-align: center;
    background-color: #600060;
    padding: 2em;
    color: white;
}

.fall_2022 {
    font-weight: bold;
}

#middle-section {
    background-color: #a9abb3;
    max-width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-section {
    background-color: #5f9ea0;
    padding: 1em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#main-section table {
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#main-section thead th {
    background-color: #054a1d;
    color: white;
    padding: 10px;
}

#main-section td {
    text-align: center;
}

#main-section tr:nth-child(odd) {
    background-color: rgb(187, 186, 186);
}

#main-section tr:nth-child(even) {
    background-color: white;
}

img {
    width: 30px;
}

#project_body td {
    border: 1px solid black;
}

#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#search-bar #search {
    display: none;
    padding: 10px;
    width: 70%;
}

#search-results-tab {
    background-color: white;
    color: #860e0d;
}

td[contenteditable="true"] {
    background-color: white;
}